body {
	padding: 0;
	margin: 0;
}
html, body{
	height: 100%;
	width: 100%;
}
a {
	color:#0078a8;
}
details {
	padding-top:5px;
	padding-bottom:5px;
}
details summary {
	font-size:14px;
	color:grey;
	font-weight:bold;
}
h1, h2, h3 {
	display:block;
	padding:0px;
	margin:0px;
}
h1 {
	font-size:24px;
}
h2 {
	font-size:14px;
	color:grey;
}
#autocomplete ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
	color:#142a52;
}
#autocomplete li {
	list-style-type:none;
	padding-top:5px;
	padding-bottom:5px;
}
#autocomplete li:hover {
	cursor:pointer;
	background-color:#c6ebc6;
}
input[type=button] {
	margin:10px;
}
input[type=checkbox] {
	margin-top:5px;
}
section {
	display:flex;
	width:100%;
	height:100%;
}
label {
	display:block;
	margin-top:5px;
}
.tabcontent {
	box-shadow: -10px 0px 5px -2px grey;
	padding:2px;
	overflow:auto;
	display:none;
	height:100px;
}
.layermenu {
	z-index:1;
	width:33.34%;
	height:100%;
	padding-left:5px;
	padding-right:4px;
}
.info {
	display:none;
	font-size:22px;
	bottom:0px;
	position:fixed;
	text-align:center;
	z-index:3;
	width:100%;
}
.pdv-icon {
	height:25px;
	width:25px;
	margin:5px;
}
.small-icon {
	height:20px;
	width:20px;
	margin-top:5px;
	margin-left:5px;
	margin-right:10px;
}
.pdv-icon:hover {
	background-color:#d6e0f5;
}
.pdv-icon[active] {
	border-bottom:4px solid #42bd42;
}
#menubutton {
	display:none;
	margin-top:12px; 
	margin-left:10px;
	margin-right:-10px;
	width:50px;
	opacity:0.7;
}
#map{
	z-index:1;
	flex:1;
}
#searchfield {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:4px;
	width:95%;
}
#autocomplete {
	display:none;
	padding:5px;
	z-index:5;
	position:relative;
	top:0px;
	background-color:white;
}
#infoPopup {
	margin:auto;
	width:400px;
	margin-bottom:10px;
	padding:5px;
	border-radius:15px;
	background-color:/*rgba(0, 40, 77, 0.6)*/rgba(51, 153, 255, 0.6);
}
#progressbar {
	display:none;
	width:100%;
	height:5px;
	z-index:8;
	position:fixed;
	background-color:rgba(51, 153, 102, 0.7);
}
@media only screen and (max-width:800px) {
section {
	display:block;
}
.layermenu {
	width:100%;
	height:78px;
}
.lang-select {
	font-size:16px;
	margin-right:20px;
}
#menubutton {
	display:block;
}
#infoPopup {
	width:200px;
}
#map {
	width:100%;
	height:calc(100% - 15px);
}
#searchfield {
	margin-right:20px;
}
}
